.content
{
  padding-top: 70px; 
}

img {
  max-width: 100%;
}

.panel-heading h2 {
  color: @text-color;
  margin-top: @line-height-computed;
}

h1 {
  margin-bottom: 0.7em;
}

h2 {
  margin-top: 1.3em;
}

.main {
  margin-bottom: 3em;
  padding-bottom: 0.5em;
  background-color: rgba(255,255,255,0.9);
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: @screen-sm-min) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.main a {
  text-decoration: underline;
}


.main preview a {
  text-decoration: underline;
}

.logo {
  width: 550px;
}

.navbar > .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav li a {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.crossed {
  text-decoration: line-through;
}

.img-medium {
  max-width: 70%;
}