<h1>Authors &amp; Contributors</h1>

<h2>Initial Authors</h2>
<ul>
    <li><a target="_blank" href="http://www.pautasso.info/">Cesare Pautasso</a> (<a target="_blank" href="https://twitter.com/pautasso">@pautasso</a>)</li>
    <li>Ana Ivanchikj (<a target="_blank" href="https://twitter.com/ivanchikj">@ivanchikj</a>)</li>
    <li><a target="_blank" href="https://www.innoq.com/en/staff/silvia-schreier/">Silvia Schreier</a> (<a target="_blank" href="https://twitter.com/aivlis_s">@aivlis_s</a>)</li>
</ul>
</ul>

<h2>Contributors</h2>
<ul>
    <li><a target="_blank" href="https://github.com/olivergierke">Oliver Gierke</a></li>
    <li>maybe you?</li>
    <li>...</li>
</ul>

<h2>Acknowledgement</h2>

<p>
    Thanks a lot to all the people who provided feedback, especially the writer's workshop at <a target="_blank" href="http://europlop.net/">EuroPlop 2016</a>.
</p>
