<h1>RESTalk – a DSL for RESTful Conversation</h1>

<div>
  <p>
    RESTalk is a Domain Specific Modeling Language for <a href="/rest.html">RESTful conversations</a> implemented as extension of the <a href="#">Business Process Modeling Notation (BPMN)</a>.
  </p>
  <p>
    TODO
  </p>
</div>