<h1>Imprint</h1>

<h4>German</h4>
<p>
  Die auf dieser Seite angegebenen, externen Links führen zu fremden Seiten. Nach dem Anklicken des Links geraten Sie automatisch auf die fremde Seite. Aus rechtlichen Gründen weisen wir Sie darauf hin, dass wir keinerlei Einfluss auf Inhalt und Gestaltung der verlinkten Websites habe. Meinungen, Darstellungen oder Äußerungen jedweder Art auf den verlinkten Seiten stellen nicht unsere, sondern die des jeweiligen Inhabers der verlinkten Website dar.
</p>

<h4>English</h4>
<p>
  Some links on this page target at external pages. After clicking on such a link you are landing on another page. For legal reason we inform you that we have no influence on the content and design of this linked pages.
  Sole responsibility for the content of linked sites lies with their operators.
</p>

<h4>
  Verantwortlich für diese Webseite / Responsible for this website:
</h4>
<p>
  Silvia Schreier
</p>

<p>
  c/o innoQ Deutschland GmbH<br/>
  Krischerstr. 100<br/>
  D-40789 Monheim am Rhein, Germany<br/>
</p>

<h2>Contact</h2>

<p>
  <a href="mailto:mail@restalk-patterns.org">mail@restalk-patterns.org</a>
</p>
