<h1>Patterns for RESTful Conversations</h1>


<h2>RESTalk Pattern Language</h2>
<p>
Resources exposed as part of RESTful APIs are discovered by clients that interact with them over conversations, composed of sets of basic HTTP interactions, to achieve different goals, such as for example: the (reliable) creation of additional resources, the discovery of related resources, the enumeration of the items found within a collection. Given the goal of each conversation, the designer of the API chooses the corresponding conversation patterns which form the basis for the API design. These patterns will thus help the client developer to understand API's features and to build upon them clients that will perform the complex conversation to achieve their goals.
</p>
<p>
TODO
</p>

<h3>What are patterns?</h3>
<p>TODO</p>

<h2>Patterns</h2>
<ul>
<li><a href="post-put.html">POST-PUT Creation</a></li>
<li>...</li>
</ul>
<h2>License</h2>
<p>
We plan to publish this content under a non-commercial Creative Commons license. But until the clarification of some legal issues, the copyright stays with the authors.
</p>
