<h1>More content</h1>

<p>
    If you want to dive deeper into this topic we suggest you to look at the <a href="references.html">References</a>.
</p>

<p>
    There is also a list of the <a href="authors.html">initial authors and contributors</a> available and you can also become a <a href="contribute.html">contributor</a>.
</p>