<h1>POST-PUT Creation</h1>


<div class="well">
    <dl>
        <dt>
            Summary:
        </dt>
        <dd>
            Prevent creation of duplicate resources in case of errors
        </dd>
    </dl>
</div>
<dl>
    <dt>
        Context:
    </dt>
    <dd>
        If a client wants to create a resource whose URI it does not know, it has to use a <code>PUT</code> request. If the response does not reach it, the client does not know if the server did not receive the request, and thus the resource has not been created, or the resource has been created, but the response got lost.
    </dd>
    <dt>
        Problem:
    </dt>
    <dd>
        As all networks are not reliable, a client cannot know the reason for a missing response. This is not a problem if the request was using an idempotent HTTP verb like <code>PUT</code>, <code>PUT</code> or, <code>PUT</code>. However, if a client uses a <code>PUT</code> request because it wants to create a resource whose URI will be determined by the server, how can the creation be repeated without resulting in multiple resources being created?
    </dd>
    <dt>
        Forces:
    </dt>
    <dd>
        The creation of the resource consists of the technical part where a new identifier is chosen and the part where all kinds of consequences and side-effects related to the application domain are executed. While resource identifiers are relatively inexpensive to mint, it often turns out that the application domain logic triggered by resource creation should not be executed multiple times.
    </dd>
    <dt>
        Solution:
    </dt>
    <dd>
        <p>
            To use the <em>POST-PUT Creation</em> conversation pattern, it should be possible to distinguish between the technical creation, i.e. the creation of a new URI, and the execution of the application domain specific creation behavior. The resource creation is split into two steps, the technical creation of its identifier and the actions that are required by the application domain. So the client sends first an empty <code>PUT</code> request, which results in the creation of an empty resource resulting in no side-effect relevant for the application domain. Server's response contains a link to the URI of the created empty resource to which the client can add domain-specific content using a <code>PUT</code> request. The first <code>PUT</code> request will then trigger the consequences of the creation in the domain. Since the <code>PUT</code> is idempotent, resending it multiple times will not have side effects. A visualization of the solution is provided in the following figure:
        </p>
        <p class="text-center">
        <img src="img/post-put.svg" /> 
        </p>
    </dd>
    <dt>
        Consequences:
    </dt>
    <dd>
        <p>Benefits:</p>
        <ul class="list-unstyled">
            <li>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <em>Simplified garbage collection:</em> 
                The created resources have no content and their creation only has technical side-effects. The resources are not initialized until the <code>PUT</code> request is received, thus the server can be set to destroy the empty resources at certain intervals. 
            </li>
            <li>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <em>Idempotent initialization:</em> 
                After the client receives the resource identifier, the actual initialization of the resource is carried out using an idempotent <code>PUT</code> request.
            </li>
        </ul>
        <p>Liabilites:</p>
        <ul  class="list-unstyled">
            <li>
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <em>Duplicate empty resources:</em> 
                This solution does not prevent from duplicate resources being created and thus may consume the set of available resource identifiers.
            </li>
        </ul>
    </dd>
    <dt>
        Variants:
    </dt>
    <dd>
        <p>
            To enable the server to identify that the <code>PUT</code> request is used for creation and not for a normal update of the resource an <code>If-None-Match</code> header with a * as value can be added to the <code>PUT</code> request. 
        </p>
        <p>
           This pattern can also be applied when a POST request is not used for creation but for performing any non-idempotent operation.
        </p>
    </dd>
</dl>

