<h1>References</h1>

<ul>
    <li>
       Cesare Pautasso, <a href="http://pautasso.info/talks/2016/RESTFest/index.html#/title">RESTful Conversation Patterns
</a>, Talk at <a href="https://2016.restfest.org/uk/">REST Fest 2016</a> in Edinburgh 
    </li>
    <li>
        Cesare Pautasso, Ana Ivanchikj, and Silvia Schreier, A Pattern Language for RESTful Conversations, EuroPlop 2016 (to appear)
    </li>
    <li>
        Ana Ivanchikj, Cesare Pautasso, and Silvia Schreier, <a target="_blank" href="http://design.inf.usi.ch/publications/2016/jssm">Visual modeling of RESTful conversations with RESTalk</a>, Journal of Software & Systems Modeling, May 2016
    </li>
    <li>
        Florian Haupt, Frank Leymann, Cesare Pautasso: <a target="_blank" href="http://design.inf.usi.ch/publications/2015/wicsa">A conversation based approach for modeling REST APIs</a>, 12th Working IEEE / IFIP Conference on Software Architecture (WICSA 2015), Montreal, CA, May 2015
    </li>
    <li>
        Gregor Hohpe, <a target="_blank" href="http://www.enterpriseintegrationpatterns.com/ramblings/81_restconversation.html">RESTful Conversations</a>, 15 March 2015
    </li>
    <li>
        Gregor Hohpe, "Let's have a conversation", Internet Computing, IEEE 11.3 (2007): 78-81.
    </li>
</ul>