<h1>REST & RESTful Conversations</h1>


<p>
In this section you can find an <a href="#intro">introduction</a> to REST as well as a more detailed explanation about what <a href="#conversation">RESTful conversations</a> are and why they are suitable for design and development of RESTful applications.
</p>
<h2 id="intro">Introduction to REST</h2>

<p>TODO</p>

<h2 id="conversation">RESTful Conversations</h2>
<p>TODO</p>


